<button class="transformers"><a href="/loggedin">Home</a></button>
<h1>Create Transformers Below!</h1>
<form action="/transformers" method="POST">
    <input type="text" name="name" placeholder="Transformer's Name:">
    <br>
    <input type="text" name="alternate_form" placeholder="Alternate Form:">
    <br>
    <input type="text" name="team" placeholder="Autobot or Decepticon:">
    <br>
    <input type="submit" value="Create">
</form>