<!DOCTYPE html>
<html>
    <body>
        <h1>Welcome! Log in below and begin creating transformers</h1>
        <button class="sign up"><a href="/signup"> Sign Up</a> </button>
        <button class="login"><a href="/login"> Login</a> </button>
    </body>
</html>
