
<button><a href="/transformers/new">Create Transformers </a></button>
<button><a href="/transformers">View Transformers</a></button>
<button style="float:right;"><a href="/logout">Logout</a></button>
